<div class="footer-section-wrapper">
    <div class="container">
        <div class="footer-content-wrapper">
            <div class="row">
                <div class="col-md-6">

                    
                </div>
                
            </div>
                <div class="col-md-3">
                    <div class="section-title-wrapper">
                        <div class="section-title">CONTACT DETAILS</div>
                        <div class="title-bar"></div>
                    </div>
                    <div class="section-contents">
                        <ul class="contact-widget">
                            
                            <li class="cw-phone">01777280571</li>
                            <li class="cw-cell">rahat.hasan1453@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="cc">© 1453-Blog !! All Rights Reserved</div>
    </div>
</div>
