<div class="header-wrapper">
    <div class="top-bar-wrapper">
        <div class="container">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    {% if session['__auth__'] == null %}
                    <ul>
                        <li>
                            <a href="/signup" class="btn btn-outline-dark btn-sm">
                                Sign Up
                            </a>
                        </li>
                        <li>
                            <a href="/login" class="btn btn-outline-dark btn-sm">
                                Login
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    <span>{{session['__auth__']['name']}}</span> /
                    <a onclick="logout(event)" href="javascript:void(0)" class="logout-btn">logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-md-12  text-center">
                <h1>1453</h1>
                
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.path == '/' else '' }}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.path == '/article' else '' }}"
                           href="/article">Blogs</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<script>
    function logout(event){
        event.preventDefault();
        let URL = 'http://127.0.0.1:5000/api/user/logout'
        $.ajax({
            url: URL,
            type: "post",
            success: function (response) {
                if(response.status == 2000){
                    window.location.href = ''
                }
            },
        });
    }

</script>
